.App h1 {
  margin: 0;
  padding: 1.5rem;
  border-style: solid;
  font-family: "Orbitron", sans-serif;
  background-image: linear-gradient(
    to top,
    lightgrey 0%,
    lightgrey 1%,
    #e0e0e0 26%,
    #efefef 48%,
    #d9d9d9 75%,
    #bcbcbc 100%
  );
  height: 28rem;
  width: 48rem;
}

.App .col,
.App .row {
  padding: 0;
  margin: 0;
}

.App .page-date {
  padding: 0.5rem;
  font-size: 0.5rem;
}

.App .signature {
  padding: 0.5rem;
  text-align: left;
  font-size: 0.8rem;
}

.App .signature-link {
  color: #212529;
  font-weight: bolder;
  text-decoration: underline;
}

.App .city-search {
  padding: 0.1rem;
  text-align: left;
  font-size: 1.5rem;
}
.App .city-input {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0.2rem;
}
.App .local-button-bar {
  padding: 0.1rem;
}
.App .local-button {
  display: inline;
  position: relative;
  vertical-align: top;
  top: 0.2rem;
}
.App .toggle-unit-bar {
  position: relative;
  left: 10.5rem;
  font-size: 1.5rem;
}

.App .toggle-unit {
  color: #212529;
  text-align: right;
  font-size: 1.5rem;
  border: 0;
  background: transparent;
}

.App .toggle-unit:hover {
  text-decoration: none;
  color: #212529;
  font-weight: bold;
}
