.App .toggle-unit-bar {
  position: relative;
  left: 10.5rem;
  font-size: 1.5rem;
}

.App .toggle-unit {
  color: #212529;
  text-align: right;
  font-size: 1.5rem;
  border: 0;
  background: transparent;
}

.App .toggle-unit:hover {
  text-decoration: none;
  color: #212529;
  font-weight: bold;
}
